@font-face {
  font-family: "SNF4";
  src: url("SNF4.otf");
}

body {
  font-family: "SNF4", "Courier New", Courier, monospace;
  font-size: 1em;
}
#main {
  display: grid;
  place-content: center center;
}
ul {
  padding-inline: unset;
  margin-block: unset;
}
li {
  list-style: none;
  text-align: center;
  text-indent: 0%;
  font-size: 2.25em;
  line-height: 2em;
}
li a {
  text-decoration: none;
  color: black;
}
li a:hover {
  text-decoration: underline;
}
h1 {
  font-size: 4em;
}
