*{
  margin: 0;
  padding: 0;
}
body{
  background-color: black;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h1{
  /* line-height: 2.5em; */
  padding-bottom: 20px;
}
p{
  line-height: 1.75rem;
  letter-spacing: 0.05em;
}
li{
  line-height: 1.75em;
  list-style:lower-greek;
  /* text-indent: 10px; */
  list-style-position: inside;
  background: #ffffff20;
  padding: 5px;
  margin: 2px 0;
  /* margin-left: 35px; */
}
.main{
  display: grid;
  font-weight: 900;
  text-transform: uppercase;
  color: #fff;
  place-items: center;
}
.item1{
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #fff;
  position: absolute;
  z-index: 0;
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
  color: #00000080;
  display: grid;
  gap: 20px;
}

.titleText{
  padding-top: 7vh;
  font-size: 1em;
  letter-spacing: 10vw;
  line-height: calc(2em + 2vw);
  width: 100vw;
  text-align: center;
  padding-left: 2.5vw; 
}
.line{
  padding: 7vh 0;
  font-size: 1em;
  letter-spacing: 10vw;
  line-height: calc(2em + 2vw);
  width: 100vw;
  text-align: center;
  padding-left: 2.5vw; 
}
.itemimage{
  position: absolute;
  z-index: 1;
  bottom: -12px;
  mix-blend-mode: multiply;
  overflow: hidden;
}
.item2{
  width: 100vw;
  overflow: hidden;
  background-color: black;
  position: absolute;
  top:100vh;
  z-index: 2;
  /* font-size: 4vw; */
  display: grid;
  gap: 20px;
}
.projects{
  /* width: 80vw; */
  display: grid;
  grid-template-columns: 250px 250px 250px;
  grid-template-rows: repeat(1, 250px);
  /* grid-template-areas: "featImg featImg featImg"; */
  gap: 50px;
  margin: 0 auto;
  /* place-items: center center; */
  /* place-content: center center; */
  /* place-self: center center; */
}
.featImg{
  grid-area: "featImg";
  overflow: hidden;
  -webkit-mask-image: url(shape.svg);
  mask-image: url(shape.svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
}
.featImg img{
  height: auto;
}
.Desc{
  grid-area: "Desc";
}
.bottomtext{
  font-size: 1em;
  letter-spacing: 0.5em;
  position: absolute;
  font-weight: 100;
  line-height: 2em;
  top: 35vh;
  z-index: 1;
  text-align: center;
  width: 100vw;
  overflow: hidden;
}
video{
  width: 1250px;
}
.line2{
  width: 100vw;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(5, 200px);
  font-size: 1rem;
  place-items: center center;
  place-content: center center;
  text-align: center;
}
.sware_parent{
  width: 80vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin: 0 auto;
  padding-bottom: 10vh;
}
.swares{
  width: 100px;
  height: 100px;
  background-color: #00000050;
}
.item3{
  width: 100vw;
  background-color: rgb(255, 255, 255);
  color: #000000;
}
.under3{
  background-color: #000;
  color: #fff;
}
.profile{
  display: grid;
  grid-template-columns: repeat(1, 250px 1fr);
  width: 50vw;
  gap: 20px;
  margin: 0 auto;
  padding: 0 0 150px;
  align-items: center;
}
.textp{
  text-transform: none;
  font-size: 1.3em;
  /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
}
.textp p{
  padding: 5px 0;
  font-weight: 100;
  letter-spacing: 0.05em;
}
.textp p a{
  padding: 10px 20px; 
  background-color: darkorange; 
  text-decoration: none; 
  color:#000;
}
.item4{
  width: 100vw;
  /* height: 100vh;
  overflow: hidden; */
  background-color: brown;
  position: absolute;
  top:300vh;
}
.resume{
  width: 50vw;
  margin: 0 auto;
  /* background-color: aqua; */
  display: grid;
  /* place-content: center center; */
  grid-template-columns: repeat(1, 2fr 5fr);
  grid-template-rows: repeat(17, 100px);
  grid-template-areas: "year deed";
  gap: 20px;
}
.year{
  /* width: 900px;
  height: 600px; */
  grid-area: "year";
  background-color: #ffffff10;
  overflow: hidden;
}
.deed{
  /* width: 70%; */
  grid-area: "deed";
  background-color: #ffffff50;
}

.p_header{
  grid-area: "p_header";
  grid-column: span 2;
}
.p_media{
  grid-area: "p_media";
}

.p_desc{
  grid-area: "p_desc";
}
.sep01{
  width: 100vw;
  height: 126px;
  background-image: url(images/V2_Images/Separator01.png);
  background-position: bottom center;
  background-position-y: 4px;
  background-repeat: no-repeat;
  display: block;
}
.sep02{
  width: 100vw;
  height: 126px;
  background-image: url(images/V2_Images/Separator02.png);
  background-position: top center;
  background-position-y: -4px;
  background-repeat: no-repeat;
  display: block;
}
@media screen and (max-width: 600px) {
  
  video{
    width: 600px;
  }
  .itemimage{
    width: 100vw;
    /* height: 100vh; */
    overflow-x: hidden;
    /* position: absolute; */
    /* bottom: 0; */
  }
.featImg{
  grid-area: "featImg";
  overflow: hidden;
  -webkit-mask-image: url(shape_small.svg);
  mask-image: url(shape_small.svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
}
.featImg img{
  width: 125px;
  height: auto;
}
  .projects{
    display: grid;
    grid-template-columns: 125px 125px;
    grid-template-rows: repeat(1, 125px);
    gap: 50px;
    margin: 0 auto;
  }
  .profile{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    /* grid-template-rows: 2; */
    width: 80vw;
    gap: 20px;
    margin: 0 auto;
    padding: 0 0 100px;
    place-items: center;
    justify-content: center;
  }
  .line{
    letter-spacing: 1em;
  }
  .textp p{
    text-align: center;
    font-size: 0.85em;
    line-height: 1.35em;
  }
}