@font-face {
  font-family: "SNF4";
  src: url("SNF4.otf");
}
@font-face {
  font-family: "SNF3";
  src: url("SNF3.ttf");
}
@font-face {
  font-family: "SNF2";
  src: url("SNF2.ttf");
}

body {
  font-family: "SNF2", "Courier New", Courier, monospace;
  font-size: 1.125em;
  margin: 0;
  padding: 0;
  text-align: left;
}
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}
h1 {
  font-size: 6em;
}
h2 {
  font-size: 3.5em;
}
h3 {
  font-size: 2.75em;
}
h4 {
  font-size: 2.25em;
  line-height: 1.5em;
}
p {
  font-size: 1.75em;
  line-height: 1.25em;
}
.dp {
  grid-area: dp;
  border-radius: 50%;
  overflow: hidden;
  background-image: url("images/SuperHeroNagaraj.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 300px;
  min-width: 300px;
  min-height: 300px;
}
.dp:hover {
  background-image: url("images/SuperHeroNagaraj-BrandingLabel.png");
}
.dparea {
  grid-area: dparea;
  place-self: center;
}
.mercharea {
  grid-area: mercharea;
  align-self: start;
}
.mercharea h2{
  margin-bottom: 0.5em;
}
.desc {
  grid-area: desc;
  display: block;
  padding: 0 2%;
  margin: 0 5%;
  align-self: start;
  border-right: #000 dotted;
  padding: 0 1em;
}
.desc p {
  text-align: left;
}
.desc h1 {
  margin: 0px;
  padding: 0px;
}
.desc h2 {
  margin: 0px;
  padding: 0 0 0.5em 0;
}

.desc_in {
  grid-area: desc_in;
  display: block;
  padding: 0 2%;
  margin: 0 5%;
  align-self: start;
  border-right: #000 dotted;
  padding: 0 1em;
  margin-bottom: 1em;
}
.desc_in li {
  font-size: 2em;
  line-height: 1.125em;
}
.navi {
  grid-area: navi;
  display: block;
  width: 90vw;
  padding: 0.25% 0;
  margin: 0 0 1.25%;
  text-align: center;
  align-self: center;
  place-self: center;
  border-bottom: #000 dotted;
}
.navi_in_links {
  grid-area: navi_in_links;
}
.dp_in_head {
  grid-area: dp_in_head;
  /* border-radius: 50%; */
  overflow: hidden;
  background-image: url("images/SuperHeroNagaraj.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100px;
  min-width: 100px;
  min-height: 100px;
}
.dp_in_head:hover {
  background-image: url("images/SuperHeroNagaraj-BrandingLabel.png");
}
.title_in_head {
  grid-area: title_in_head;
  text-align: left;
  font-size: 4em;
  font-weight: bolder;
  padding-left: 2%;
}
.title_in_head a {
  text-decoration: none;
  color: #000;
}
.title_in_head a:hover {
  text-decoration: underline;
  background-color: yellow;
}
.head_in {
  grid-area: head_in;
  display: grid;
  place-items: center start;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: none;
  grid-template-areas: "dp_in_head title_in_head";
}
.navi_in {
  grid-area: navi_in;
  display: grid;
  width: 90vw;
  padding: 0.25% 0;
  margin: 0 0 1.25%;
  text-align: right;
  place-self: center;
  border-bottom: #000 dotted;
  grid-template-columns: 2fr 4fr;
  grid-template-rows: none;
  grid-template-areas: "head_in navi_in_links";
}

.footer {
  grid-area: footer;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
  font-size: 2em;
  padding: 1.25% 0;
  align-self: end;
}
.sidebar {
  grid-area: sidebar;
  place-self: start;
}
.sidebar h3 {
  margin: 0;
}
.sidebar a {
  text-decoration: underline;
  color: #000;
}
.sidebar a:hover {
  background-color: yellow;
  border-bottom: #000 solid;
}
.main {
  display: grid;
  overflow-y: hidden;
  min-height: 100vh;
  grid-template-columns: 0.25fr 1fr 2fr 1fr 0.25fr;
  grid-template-rows: auto;
  grid-template-areas:
    "navi navi navi navi navi"
    ". dparea desc sidebar ."
    "footer footer footer footer footer";
}
.main_in {
  display: grid;
  overflow-y: hidden;
  min-height: 100vh;
  grid-template-columns: 0.25fr 1fr 2fr 1fr 0.25fr;
  grid-template-rows: auto;
  grid-template-areas:
    "navi_in navi_in navi_in navi_in navi_in"
    ". mercharea desc_in sidebar ."
    "footer footer footer footer footer";
}

ul {
  padding-inline: unset;
  margin-block: unset;
}
li {
  list-style: none;
  text-align: center;
  text-indent: 0%;
  font-size: 2.25em;
  line-height: 2em;
  display: inline-block;
  padding: 1.25%;
  margin: 0.25%;
}
li a {
  text-decoration: none;
  color: #000;
}
li a:hover {
  background-color: yellow;
  border-bottom: #000 solid;
}
.ph_merch{
  display: flex;
  flex-wrap: wrap;
  place-self: start;
  /* border: #000 solid; */
}
.ph_box{
  width: 160px;
  height: 220px;
  display: flex;
  flex-wrap: wrap;
  /* border: #000 solid; */
  align-content: flex-start;
}
.ph_img {
  background-color:#ccc;
  width: 150px;
  height: 150px;
  margin: 0 1em 0.5em 0;
}
.ph_desc {
  font-size: 1.25em;
  font-weight: bold;
}
.c_thumb{
  grid-area: c_thumb;
  width: 200px;
  height: 200px;
  background-color: white;
}
.c_para{
  grid-area: c_para;
}
.c_link{
  grid-area: c_link;
  /* place-self: end start; */
}
.c_desc{
  display: grid;
  place-self: center;
  font-size: 1.75em;
  grid-area: c_desc;
  grid-template-rows: 3fr 1fr;
  grid-template-columns: auto;
  grid-template-areas: 
  "c_para"
  "c_link";
}

.c_link a{
  text-decoration: underline;
  color: #000;
}
.c_link a:hover{
  background-color: yellow;
}
.comicblock{
  display: grid;
  grid-template-columns: 200px 0.1fr 2fr 0.1fr;
  grid-template-rows: auto;
  grid-template-areas: 
  "c_thumb . c_desc .";
  margin: 1em 0;
  background-color: #ececec;
  padding: 1.2%;
}

/* For ipads */
@media only screen and (max-width: 1230px) {

  .c_desc{
    text-align: left;
    grid-template-rows: 3fr 1fr;
    grid-template-areas: 
  "c_para" "c_link";
  }
  .c_link{
    place-self: start start;
  }
  .ph_merch{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 90vw;
  }
  .ph_box{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 0 1em;
  }
  .ph_img{
    margin: 1em 0;
  }
  h1 {
    font-size: 4.5em;
  }
  h2 {
    font-size: 3.25em;
  }
  p {
    font-size: 2em;
    line-height: 1.25em;
  }
  .main {
    display: grid;
    overflow-y: hidden;
    min-height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "navi"
      "dparea"
      "desc"
      "sidebar"
      "footer";
  }

  .title_in_head {
    font-size: 3em;
    font-weight: bolder;
    padding: 0.5em 0 0 0;
    text-align: center;
  }
  .navi_in_links {
    text-align: center;
  }
  .navi_in_links li {
    font-size: 2.25em;
    margin: 0 0.5em;
  }
  .dp_in_head {
    display: none;
    visibility: hidden;
    width: 0px;
    height: 0px;
  }
  .head_in {
    place-self: center center;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: "title_in_head";
    text-align: center;
  }
  .navi_in {
    grid-template-columns: 1fr;
    grid-template-rows: 2fr;
    grid-template-areas:
      "head_in"
      "navi_in_links";
  }
  .desc_in {
    border: none;
    text-align: center;
  }
  .desc_in h1 {
    text-align: center;
  }
  .main_in {
    display: grid;
    overflow-y: hidden;
    min-height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "navi_in"
      "desc_in"
      "mercharea"
      "sidebar"
      "footer";
  }
  .desc h1,
  h2 {
    text-align: center;
  }
  .desc h1 {
    margin: 0.5em 0 0.175em;
  }
  .desc {
    border: none;
  }
  .sidebar {
    place-self: stretch;
    background-color: yellow;
    text-align: center;
  }
  .sidebar p {
    line-height: 0.5em;
    font-size: 2em;
  }
  .sidebar h3 {
    font-size: 2.5em;
    line-height: 1em;
    padding: 0.5em 0 0;
  }
  .navi {
    margin: 0 0 2.5%;
  }
  .mercharea {
    width: 90vw;
    border-top: #000 dotted;
    padding-top: 1.25%;
    place-self: center;
  }
  .mercharea h2{
    margin: 0.5em 0;
  }
  .navi_in_links ul li {
    line-height: 1.25em;
  }
}
/* For smartphones */
@media only screen and (max-width: 600px) {
  .comicblock{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 200px 10px 2fr;
    grid-template-areas: 
    "c_thumb"
    "."
    "c_desc";
    margin: 1em 0;
    padding: 1em 0.25em;
  }
  .c_thumb{
    place-self: center center;
  }
  .c_desc{
    font-size: 1.25em;
    text-align: center;
    grid-template-rows: 3fr 1fr;
    grid-template-areas: 
  "c_para" "c_link";
  }
  .c_link{
    place-self: center;
    text-align: center;
  }
  .ph_box{
    width: 150px;
    height: 150px;
  }
  .ph_img {
    background-color:#ccc;
    width: 120px;
    height: 120px;
    margin: 0 0.5em 0.5em 0;
  }
  .ph_desc{
    font-size: 1em;
  }
  .sidebar h2 {
    line-height: 1em;
  }
  .navi_in {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "head_in"
      "navi_in_links";
  }
  .title_in_head {
    font-size: 1.8em;
    padding-top: 0.35em;
  }
  .navi {
    margin: 0 0 5%;
  }
  .navi ul li {
    font-size: 1.25em;
  }
  .navi_in_links ul li {
    font-size: 1.25em;
  }
  .dp {
    background-size: 175px;
    min-width: 175px;
    min-height: 175px;
  }
  .desc h1 {
    font-size: 2.5em;
  }
  .desc_in h1 {
    font-size: 2.5em;
    padding-top: 0.25em;
  }
  .desc_in li {
    font-size: 1.125em;
  }
  .desc_in h4 {
    font-size: 1.5em;
  }
  .desc h2 {
    font-size: 1.75em;
  }
  .desc_in h2 {
    font-size: 1.5em;
  }
  .desc p {
    font-size: 1.25em;
  }
  .desc_in p {
    font-size: 1.125em;
  }
  .sidebar h3 {
    font-size: 1.5em;
    font-weight: bolder;
  }
  .sidebar p {
    font-size: 1.125em;
    line-height: 0.75em;
  }
  .footer {
    font-size: 1.125em;
    padding: 0.25em 0;
  }
  .mercharea h2 {
    font-size: 2em;
  }
}
@media only screen and (max-width: 370px) {
  .navi ul li {
    font-size: 1.25em;
  }
  .navi_in_links ul li {
    font-size: 1em;
  }
  .desc h2 {
    font-size: 1em;
  }
  .desc_in h2 {
    font-size: 1em;
  }
}
