*{
    margin: 0;
    padding: 0;
    font-family: "Urbanist", sans-serif;
    font-size: 16px;
  }

p {
  padding-bottom: 20px;
}
a {
  text-decoration: none;
  color: #fff;
}
.white{
  color: #fff;
}
.black{
  color: #000;
}
figcaption{
  text-align: center;
  font-weight: bold;
}
  /* fonts */
  .pageTitle{
    font-size: 4.5rem;
  }
  .pageSubTitle{
    font-size: 3rem;
    padding: 2% 0;
    line-height: 3.5rem;
  }
  .sectionHead{
    border-bottom: 3px solid #000; 
    margin-bottom: 2%; 
    font-size: 2.125rem; 
    padding: 1% 0 3%;
  }
  .divHead{
    font-size: 2.125rem;
    padding: 1% 0 3%;
  }

  .pagePara, ul li{
    font-size: 1.5rem;
    line-height: 2rem;
    padding-bottom: 20px;
  }
  .pagePara2{
    font-size: 1.25rem;
    /* line-height: 1.75rem; */
    padding-bottom: 20px;
  }

  .textCentre{
    text-align: center;
  }
  .boldText{
    font-weight: bold;
    font-size: 1.25rem;
  }

  /* structure */

  .mainSection{
    width: 100vw;
    display: grid;
    justify-content: center;
  }

  .hidemehere{
    display: none;
    visibility: hidden;
  }
  .logos_1{
    grid-area: logos_1;
  }
  .logos_2{
    grid-area: logos_2;
  }
  .desc_1{
    grid-area: desc_1;
  }
  .desc_2{
    grid-area: desc_2;
  }

  .twoxtwo{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 200px 1fr;
    grid-template-areas: 
    "logos_1 logos_2"
    "desc_1 desc_2"
    ;
    column-gap: 50px;
    row-gap: 20px;
  }

.twoxtwo_V2{
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 60vw;
  padding-left: 1vw;
  /* color: #000; */
  padding-bottom: 5vh;
  /* place-self: center; */
}
.twoxtwo_V2 a{
  /* color: #000; */
  background-color: #8d67c8;
  margin-left: 10px;
  padding: 5px 10px;
}
.twoxtwo_V2 h2{
  font-size: 2rem;
  padding: 10px 0 20px;
}
.twoxtwo_col{
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  grid-template-rows: 120px 120px;
  place-items: center start;
}
.blockBorder3{
  align-self: center;
  text-align: center;
  padding: 10px 12px;
  border: white solid 2px;
  border-radius: 50px;
}
  /*  style all backgrounds */

  .homeBG{
    background-image: url('../images/bg/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: #fff;
    padding-bottom: 50px;
    align-content: start;
    padding-top: 7vh;
  }
  .home2BG{
    background-image: url('../images/bg/section01BG.png');
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    padding: 20px 0;
  }
  .aboutBG{
    background-image: url('../images/bg/About-us-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }

  .getInvolvedBG{
    background-image: url('../images/bg/get-involved-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }

  .getInvolvedBG_2{
    background: url('../images/bg/get-involved-section-2.jpg'), no-repeat;
    background-size: cover;
    padding: 20px 0;
  }

  .whyDdBG{
    background-image: url('../images/bg/why-digital-detox-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }

  .resourcesBG{
    background-image: url('../images/bg/resources-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }

  .storiesBG{
    background-image: url('../images/bg/digital-awareness-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }
  .faqBG{
    background-image: url('../images/bg/faq-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }
  .footerBG{
    width: 100vw;
    display: grid;
    background-image: url('../images/bg/footerBG2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    padding-bottom: 50px;
}

/* translation button */
.content {
  display: none;
}
.active {
  display: block;
}
.language-btn {
  padding: 5px 15px;
  /* margin: 10px; */
  cursor: pointer;
  border: none;
  background: none;
  /* background-color: #007BFF; */
  color: white;
  /* border-radius: 5px; */
}
.language-btn:hover {
  
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.29);
}

/* images grid */

.image-grid {
  display: grid;
  justify-self: center;
  grid-template-columns: repeat(4, 300px);
  gap: 20px;
  grid-auto-flow: row;
  overflow: hidden;
}
.image-grid-child img{
  width:300px;
}

/* FAQs */
/* .faq {
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.faq label {
  display: block;
  cursor: pointer;
  font-weight: bold;
  padding: 10px;
  border-radius: 5px;
}
.question{
  font-size: 1.25em;
} */

details {
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

summary {
  cursor: pointer;
  font-size: 1.25em;
  font-weight: bold;
  /* background: #f1f1f1; */
  list-style: none; /* Removes default styling */
  padding: 10px;
  border-radius: 5px;
  list-style: none;
}

summary::marker {
  display: none;
  content: ""; /* Some versions of Safari require this */
}
/* For older versions of Safari */
summary::-webkit-details-marker {
  display: none;
}
.answer {
  /* display: none; */
  padding: 10px;
  margin-top: 5px;
  font-size: 1.125rem;
}
.showanswer ul li{
  font-size: 1.125rem;
}
input[type="radio"] {
  display: none;
}

/* Show the answer when the corresponding radio button is checked */
input[type="radio"]:checked + .answer {
  display: block;
}

/* The default hidden radio button ensures no answer is shown initially */

#reset:checked ~ .faq-group input[type="radio"]:checked + .answer {
  display: none;
}


.separator{
  width: 100vw;
  height: 5px;
  display: block;
  background-color: #bfbfbf;
}
.spacer{
  width: 100%;
  height: 5%;
  display: block;
}
.transBar{
  color: white;
  text-align: center;
  letter-spacing: 0.025rem;
  position: absolute;
  z-index: 3;
  top: 2%;
  right: 8%;
  /* width: 200px; */
  /* border-radius: 25px; */
  /* margin: 2% 0; */
  /* height: 50px; */
  /* font-size: 0.85em; */
}
.transEng{
  display: inline-block;
  width: 100px;
  padding: 12.5px 0;
  height: 20px;
  background-color:rgba(0, 0, 200, 0.5);
  border-radius: 0 25px 25px 0;
  text-align: center;
}
.transKan{
  display: inline-block;
  width: 100px;
  padding: 12.5px 0;
  height: 20px;
  background-image: url('../images/transBarBG.jpg');
  background-size: cover;
  border-radius: 25px 0 0 25px;
  text-align: center;
}

.logoBar{
  display: grid;
  height: 60px;
  width: 100%;
  grid-template-columns: 1fr 80px 100px 80px;
  padding: 3% 0;
}

.logosAll img{
  height: 40px;
}
.logosAll2 img{
  width: 150px;
}
.logosAll3 img{
  width: 80px;
}

.mainlogo img{
  height: 60px;
}
.pageContent{
    justify-self: center;
    width: 80vw;
    align-self: start;
    display: grid;
    font-size: 1.125rem;
  }

  .pageContent2{
    display: grid;
    width: 64vw;
    justify-content: center;
  }

.RContent{
  display: none;
}
#div1{
  display: block;
}
#div4{
  display: block;
}
.flexContent{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.flexContent div a{
  border:#fff 15px solid;
  display: block;
  padding: 5px 5px 1px 5px;
}

.flexContent div a:hover{
  border:rgba(0, 0, 0, 0.29) 15px solid;
}

.pledge{
  width: 640px;
}

/* alignment */
  .contentMiddle{
    justify-self: center;
  }
  .contentEnd{
    justify-self: end;
  }
  .contentStart{
    justify-self: start;
  }
  .verticalMiddle{
  align-self: center;
  }
  .verticalMiddle2{
  align-self: center;
  justify-self: center;
  }
  .horMiddle{
  justify-self: center;
  }
  
  
  .midSection{
    display: grid;
    width: 100vw;
    padding: 2% 0;
    justify-content: center;
    justify-self: center;
  }

  .midSection2{
    display: grid;
    width: 80vw;
    padding: 2% 0;
    /* justify-content: center; */
    justify-self: center;
  }

.arrow img{
  height: 400px;
  transform: rotate(180deg);
}
.arrow_2 img{
  height: 400px;
}
.cols{
  display: grid;
  grid-template-columns: 45% 45%;
  gap: 20px;
}
.cols_2b{
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 20px;
}
.cols_2c{
  display: grid;
  grid-template-columns: 135px 1fr;
  gap: 20px;
}
.cols2{
  display: grid;
  grid-template-columns: 85% 15%;
  gap: 20px;
}
.cols3{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.cols3b{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
}
/* .cols4{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
} */


.boxedImg{
  border-radius: 80px;
  border: #fff solid 3px;
  padding: 40px;
  text-align: center;
  font-size: 1.125rem;
  margin: 20px 0;
}
.icon_imgs{
  height: 100px;
  padding: 20px 0;
}



/* logo bar */
.topBar{
    display: grid;
    justify-self: center;
    align-self: start;
    text-align: center;
    grid-template-columns: repeat(8, 1fr);
    margin: 0 0 3%;
    width: 80vw;
    padding: 0 20px;
    /* padding-top: 30px; */
    height: 60px;
    border-radius: 50px;
    background-color: rgba(0, 0, 0, 0.29);
    /* font-size: 1.125em; */
}
.topBar a{
  color: #fff;
}
.topBar a:hover{
  color: #ccc;
  padding: 7.5px;
  border-radius: 50px;
  /* background-color: rgba(0, 0, 0, 0.25); */
}
.padLink{
  display: block;
  width: 150px;
  padding: 0 20px;
}
.navItem{
  cursor: pointer;
}
.navItem:hover{
  background-color: rgba(0, 0, 0, 0.25);
  display: block;
  /* height: 50px; */
  /* border-radius: 50px 0 0 50px; */
}

.divLogo{
    width: 163px;
    /* height: 87px; */
    justify-self: start;
    align-self: center;
    padding-left: 40px;
    /* padding: 17.5px 35px; */
}
.hamburger{
    width: 47px;
    height: 22px;
    justify-self: end;
    align-self: center;
    padding-right: 40px;
}
.topBar2{
    display: grid;
    justify-self: center;
    align-self: start;
    text-align: center;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 0 3%;
    width: 80vw;
    padding: 0 20px;
    /* padding-top: 30px; */
    height: 60px;
    border-radius: 50px;
    background-color: rgba(0, 0, 0, 0.29);
    /* font-size: 1.125em; */
}
.topBar2 a{
  color: #fff;
}
.topBar2 a:hover{
  color: #ccc;
  padding: 7.5px;
  border-radius: 50px;
  /* background-color: rgba(0, 0, 0, 0.25); */
}

/* buttons */
.buttonSec{
    display: grid;
    grid-template-columns: 2fr 5fr;
    gap: 20px;
}
.blockBorder{
    /* display: inline-block; */
    align-self: start;
    text-align: center;
    padding: 10px;
    border: white solid 2px;
    border-radius: 50px;
}
.blockBorder a{
    color: white;
    text-decoration: none;
    line-height: 2rem;
    /* padding: 0 50px; */
}

.blockBorder2{
  /* display: inline-block; */
  align-self: center;
  text-align: center;
  padding: 10px;
  border: white solid 2px;
  border-radius: 50px;

}
.blockBorder2 a{
  color: white;
  text-decoration: none;
  line-height: 2rem;
  /* padding: 0 50px; */
}

.blockBorderButt:hover{
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 50px;
}

.button2{
  display: grid;
  background-image: url('../images/button.svg');
  width: 427px;
  height: 120px;
  text-align: center;
}

.button2 div a{
  font-size: 1.15rem;
}

.button3{
  background-image: url('../images/button_new.svg');
  display: grid;
  /* background-size: cover; */
  width: 736px; 
  height: 132px;
  border-radius: 50px;
  padding: 20px 0;
  background-repeat: no-repeat;
  margin-bottom: 50px;
  /* border: solid 3px #000; */
}

.no-style {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  text-decoration: none;
  color: #000;
  font-size: 1.25rem;
}


.forFooter{
    display: grid;
    font-size: 1.5rem;
    padding: 2% 0;
    justify-self: center;
    width: 80%;
    gap: 20px;
    grid-template-columns: 50% 35% 40px;
    font-size: 1rem;
}
.forFooter_links{
  font-size: 1.25rem;
}
.linkHover:hover{
  text-decoration: underline;
}

.sm, .sm img{
  width: 25px;
  height: 25px;
}
.pad20{
  padding-top: 20px;
}
.pad50{
  padding-top: 50px;
}


/* Navbar Styling */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.29);
  border-radius: 20px;
  padding: 10px 20px;
  position: relative;
  margin-bottom:20px ;
}
.hidemehere{
    display: none;
}

/* Menu Styling */
.menu {
  list-style: none;
  display: flex;
}

.menu li {
  margin-left: 20px;
}

.menu a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

/* Hide the default checkbox */
.menu-toggle {
  display: none;
}

/* Hamburger Icon Styling */
.menu-icon {
  display: none;
  cursor: pointer;
  /* flex-direction: column; */
  justify-content: space-between;
  width: 30px;
  height: 25px;
  align-items: center;
  /* padding-top: 10px; */
}

.menu-icon .navicon {
  background-color: white;
  height: 3px;
  width: 100%;
  transition: all 0.3s;
}
.number::after {
  content: " +91 8047360606 "; /* Displays the link URL next to the link */
  font-size: 1.25rem;
  color: #000;
}




/* mobile */
@media screen and (max-width:900px) {
  

  .hideme{
    visibility: hidden;
    display: none;
  }
  .hidemehere{
    display: block;
    visibility: visible;
  }
  .topBar{
    /* font-size: 0.95em; */
    grid-template-columns: repeat(4, 1fr);
    height: 200px;
  }

  .cols3, .cols3b{
    grid-template-columns: repeat(2, 1fr);
  }
  
  .twoxtwo{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px auto 100px auto;
    grid-template-areas: 
    "logos_1"
    "desc_1"
    "logos_2"
    "desc_2";
    gap: 20px;
  }

  .twoxtwo_V2{
    width: 80vw;
    grid-template-columns: 1fr;
  }
  
  .twoxtwo_col{
    grid-template-rows: 60px 60px;
  }

}



/*small desktops */

@media only screen and (max-width: 1025px) {
  .number::after {
    content: " +91 8047360606 "; /* Displays the link URL next to the link */
    font-size: 1rem;
    color: #000;
}
.image-grid{
  grid-template-columns: repeat(1, 300px);
}

  .boldText{
    font-weight: bold;
    font-size: 1rem;
  }
  .no-style {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    text-decoration: none;
    color: #000;
    font-size: 1rem;
  }

  .hidemehere{
    display: flex;
}
.menu {
display: none;
flex-direction: column;
position: absolute;
top: 60px;
right: 0;
/* background: linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.3)); */
background-color: rgba(0, 0, 0, 0.9);
/* background-color: #222; */
border-radius: 20px;
width: 100%;
}

.menu li {
margin: 10px 0;
text-align: center;
padding-top: 10px;
line-height: 0.5rem;
}

.menu li a{
  color: #fff;
}

.menu-icon {
display: flex;
}

/* Toggle menu and icon transformation */
.menu-toggle:checked + .menu-icon .navicon {
transform: rotate(45deg);
}

.menu-toggle:checked + .menu-icon .navicon:before {
transform: rotate(90deg);
top: 0;
}

.menu-toggle:checked + .menu-icon .navicon:after {
transform: rotate(90deg);
top: 0;
}

.menu-toggle:checked + .menu-icon .navicon,
.menu-toggle:checked + .menu-icon .navicon:before,
.menu-toggle:checked + .menu-icon .navicon:after {
background-color: white; /* Change to desired close icon color */
}

.menu-toggle:checked ~ .menu {
display: flex;
}


/* Hamburger Icon Lines */
.menu-icon .navicon:before,
.menu-icon .navicon:after {
content: '';
background-color: white;
height: 3px;
width: 30px;
position: absolute;
transition: all 0.3s;
}

.menu-icon .navicon:before {
transform: translateY(-8px);
}

.menu-icon .navicon:after {
transform: translateY(8px);
}




  .midSection{
    padding: 5% 0;
  }
  .buttonSec{
    grid-template-columns: repeat(1,1fr);
    gap: 10px;
    margin: 20px 0;
    padding: 20px 0;
  }
  .button2 {
    width: 300px;
    background-position: center;
    border-radius: 20px;
    height: 60px;
  }
  .button3{
    /* margin: 0 0 20px; */
    background: url('../images/button300.svg');
    background-position: center;
    background-repeat: no-repeat;
    color: #000;
    /* border: solid 5px orange; */
    width: 300px;
    height: 70px;
    border-radius: 0;
    /* padding: 10px 0 20px; */
  }
  .logoBar{
    grid-template-columns: 1fr 50px 70px 40px;
    padding: 4% 0 2%;
  }
  .mainlogo img{
    height: 40px;
  }
  .logosAll img{
    height: 25px;
    padding-top: 10px;
  }
  
  .logosAll2 img{
    width: 100px;
  }
  .logosAll3 img{
    width: 40px;
  }
  .BSlogo{
    padding-top: 10px;
  }
  .blockBorder{
    border: #fff solid 1px;
    padding: 7px;
  }

  .blockBorder a{
    /* line-height: 1em; */
    color: #fff;
  }
  .pledge{
    width: 300px;
  }
  /* fonts */
  .pageTitle{
    font-size: 3rem;
  }
  .pageSubTitle{
    font-size: 1.5rem;
    padding: 4% 0;
    line-height: 1.75rem;
  }
  .divHead{
    font-size: 1.5rem;
    font-weight: bold;
  }
.answer, .showanswer{
  line-height: 1.5rem;
}

  .forFooter{
    padding: 10% 0;
  }
  .pad20{
    padding: 20px;
  }

  .forFooter .pad20{
    padding: 0;
  }

  .pagePara, ul li{
    font-size: 1.125rem;
    line-height: 1.5rem;
  }

  .cols, .cols_2b, .cols_2c{
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }

  .cols3b{
    grid-template-columns: repeat(1, 1fr);
  }
  .cols4{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-top: 30px;
    font-size: 0.85rem;
    border-top: #fff solid 1px;
    margin-top: 20px;
  }
/* 
  .horMiddle{
    justify-self: start;
  } */

  /* .contentEnd, .contentStart{
    width: 100%;
    justify-self: start;
    font-size: 1em;
    line-height: 1.35em;
  }
  .contentEnd, .contentStart p{
    padding: 10px 0;
  } */
  /* .midSection .pageContent{
    width: 100%;
  } */
  .forFooter{
    width: 80%;
    align-self: start;
    grid-template-columns: repeat(1, 1fr);
  }
}