*{
    margin: 0;
    padding: 0;
    font-family: "Urbanist", sans-serif;
  }

p {
  padding-bottom: 20px;
}
a {
  text-decoration: none;
  color: #fff;
}
.white{
  color: #fff;
}

  .mainSection{
    width: 100vw;
    min-height: 100vh;
    display: grid;
    justify-content: center;
  }

  /*  style all backgrounds */

  .homeBG{
    background-image: url('../images/bg/homepage_Background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
  }
  .home2BG{
    background-image: url('../images/bg/section01BG.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
  }
  .aboutBG{
    background-image: url('../images/bg/About-us-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }

  .getInvolvedBG{
    background-image: url('../images/bg/get-involved-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }

  .getInvolvedBG_2{
    background: url('../images/bg/get-involved-section-2.jpg'), no-repeat;
    background-size: cover;
  }

  .whyDdBG{
    background-image: url('../images/bg/why-digital-detox-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }

  .resourcesBG{
    background-image: url('../images/bg/resources-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }

  .storiesBG{
    background-image: url('../images/bg/digital-awareness-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }
  .faqBG{
    background-image: url('../images/bg/faq-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }
  .footerBG{
    width: 100vw;
    height: 615px;
    display: grid;
    background-image: url('../images/bg/footerBG.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}

.transBar{
  color: white;
  text-align: center;
  letter-spacing: 0.025em;
  /* width: 200px; */
  /* border-radius: 25px; */
  margin-top: 2%;
  /* height: 50px; */
  /* font-size: 0.85em; */
}
.transEng{
  display: inline-block;
  width: 100px;
  padding: 12.5px 0;
  height: 20px;
  background-color:rgba(0, 0, 200, 0.5);
  border-radius: 0 25px 25px 0;
  text-align: center;
}
.transKan{
  display: inline-block;
  width: 100px;
  padding: 12.5px 0;
  height: 20px;
  background-image: url('../images/transBarBG.jpg');
  background-size: cover;
  border-radius: 25px 0 0 25px;
  text-align: center;
}

.logoBar{
  display: grid;
  height: 60px;
  width: 100%;
  grid-template-columns: 1fr 100px 150px 100px;
  padding: 4% 0 2%;
}

.logosAll img{
  height: 60px;
}

.pageContent{
    justify-self: center;
    width: 80vw;
    align-self: start;
    display: grid;
  }

  .pageContent2{
    width: 64vw;
  }


/* alignment */
  .contentMiddle{
    justify-self: center;
  }
  .contentEnd{
    justify-self: end;
  }
  .contentStart{
    justify-self: start;
  }
  .verticalMiddle{
  align-self: center;
  }
  .horMiddle{
  justify-self: center;
  }
  
  
  .midSection{
    display: grid;
    width: 80vw;
    padding: 4% 0;
    justify-content: center;
    justify-self: center;
}
.arrow{
  height: 150px;
}
.cols{
  grid-template-columns: 45% 45%;
  gap: 20px;
}
.cols3{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}


.boxedImg{
  border-radius: 25px;
  border: #000 solid 0.95px;
  padding: 50px;
  text-align: center;
}
.icon_imgs{
  height: 100px;
}

  /* fonts */
  .pageTitle{
    font-size: 10em;
  }
  .pageSubTitle{
    font-size: 7em;
    padding: 0 0 5%;
    /* line-height: 2em; */
  }
  .pageSubTitle2{
    font-size: 3.5em;
    padding: 5% 0;
    line-height: 1.125em;
  }
  .pagePara{
    font-size: 1.75em;
    line-height: 1.5em;
    padding-bottom: 20px;
  }

  .textCentre{
    text-align: center;
  }

/* logo bar */
.topBar{
    display: grid;
    justify-self: center;
    align-self: start;
    text-align: center;
    grid-template-columns: repeat(9, 1fr);
    margin: 2% 0;
    width: 80vw;
    padding: 0 20px;
    /* padding-top: 30px; */
    height: 90px;
    border-radius: 50px;
    background-color: rgba(0, 0, 0, 0.29);
    font-size: 1.125em;
}
.topBar a{
  color: #fff;
}
.divLogo{
    width: 163px;
    /* height: 87px; */
    justify-self: start;
    align-self: center;
    padding-left: 40px;
    /* padding: 17.5px 35px; */
}
.hamburger{
    width: 47px;
    height: 22px;
    justify-self: end;
    align-self: center;
    padding-right: 40px;
}

/* buttons */
.buttonSec{
    display: grid;
    grid-template-columns: 2fr 5fr;
    gap: 20px;
}
.blockBorder{
    /* display: inline-block; */
    align-self: start;
    text-align: center;
    padding: 10px;
    border: white solid 2px;
    border-radius: 50px;
}
.blockBorder a{
    color: white;
    text-decoration: none;
    line-height: 2em;
    /* padding: 0 50px; */
}

.button2{
  display: grid;
  background-image: url('../images/button.svg');
  width: 427px;
  height: 120px;
  text-align: center;
}

.forFooter{
    display: grid;
    font-size: 1.5em;
    padding: 2% 0;
    justify-self: center;
    width: 64%;
    grid-template-columns: 50% 35% 40px;
}
.sm, .sm img{
  width: 40px;
  height: 40px;
}
.pad20{
  padding-top: 20px;
}
.pad50{
  padding-top: 50px;
}

/* mobile */
@media screen and (max-width:900px) {
  .hideme{
    visibility: hidden;
    display: none;
  }

  .cols3{
    grid-template-columns: repeat(2, 1fr);
  }
}



/*small desktops */

@media only screen and (max-width: 1025px) {
  .buttonSec{
    grid-template-columns: repeat(1,1fr);
    gap: 10px;
    margin: 20px 0;
    padding: 20px 0;
  }
  .logoBar{
    grid-template-columns: 1fr 80px 100px 100px;
    padding: 4% 0 2%;
  }
  .logosAll img{
    height: 40px;
  }
  .BSlogo{
    padding-top: 10px;
  }
  .blockBorder{
    font-size: 0.75rem;
    border: #fff solid 1px;
    padding: 7px;
  }
  .blockBorder a{
    line-height: 1em;
  }
  /* fonts */
  .pageTitle{
    font-size: 7em;
  }
  .pageSubTitle{
    font-size: 4em;
    padding: 0 0 10%;
    /* line-height: 2em; */
  }
  .pagePara{
    font-size: 1.35em;
    line-height: 1.25em;
  }

  .arrow{
    height: 100px;
  }
  .cols{
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }

  

  .horMiddle{
    justify-self: start;
  }

  .contentEnd, .contentStart{
    width: 100%;
    justify-self: start;
    font-size: 1em;
    line-height: 1.35em;
  }
  .contentEnd, .contentStart p{
    padding: 10px 0;
  }
  .midSection .pageContent{
    width: 100%;
  }
  .forFooter{
    width: 80%;
    align-self: start;
    grid-template-columns: repeat(1, 1fr);
  }
}